@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Manrope:wght@200..800&display=swap');

:root {
	color-scheme: dark;

	--font-family-text: "Manrope", system-ui, sans-serif;

	--base-hue: 240deg;

	--accent-primary: hsl(var(--base-hue), 69%, 76%);
	--accent-faded: hsla(var(--base-hue), 69%, 76%, 50%);
	--accent-faded-secondary: hsla(
		var(--base-hue),
		69%,
		16%,
		15%
	);

	--background-primary: hsl(var(--base-hue), 2%, 8%);
	--background-secondary: hsl(var(--base-hue), 4%, 9%);
	--background-tertiary: hsl(var(--base-hue), 4%, 11%);
	--background-danger: hsl(0deg 100% 68%);

	--foreground-primary: hsl(var(--base-hue), 76%, 95%);
	--foreground-secondary: hsl(var(--base-hue), 76%, 87%);
	--foreground-tertiary: hsl(var(--base-hue), 18%, 64%);
	--foreground-danger: hsl(0, 66%, 56%);

	--interactive-primary: hsl(var(--base-hue), 7%, 15%);
	--interactive-secondary: hsl(var(--base-hue), 7%, 18%);
	--interactive-tertiary: hsl(var(--base-hue), 7%, 24%);
	--interactive-quarternary: hsl(var(--base-hue), 7%, 32%);
}

html,
body {
	background-color: var(--background-primary);
	font-family: var(--font-family-text);
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	inline-size: 100%;
	block-size: 100%;
	cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	inline-size: 8px;
	block-size: 8px;
	background-color: var(--background-primary);
}

::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 2px solid var(--background-primary);
	background-color: var(--interactive-secondary);
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--interactive-tertiary);
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--foreground-tertiary);
}

::-webkit-scrollbar-corner {
	appearance: none;
}

#app {
	display: flex;
	height: 100%;
}
