@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    color-scheme: dark;

    --font-family-text: "Manrope", serif;

    --base-hue: 297deg;
    --data-hue: calc(var(--base-hue) - 40deg);
    --adi-hue: calc(var(--base-hue) + 40deg);

    --accent-primary: oklch(69% 42% var(--base-hue));
    --accent-faded: oklch(69% 42% var(--base-hue) / 50%);
    --accent-faded-secondary: lcha(var(--base-hue) 69% 16% / 15%);

    --background-primary: oklch(18% 1% var(--base-hue));
    --background-secondary: oklch(21% 1% var(--base-hue));
    --background-tertiary: oklch(23% 2% var(--base-hue));
    --background-danger: oklch(68% 100% 0deg);

    --foreground-primary: oklch(95% 10% var(--base-hue));
    --foreground-secondary: oklch(87% 12% var(--base-hue));
    --foreground-tertiary: oklch(64% 15% var(--base-hue));
    --foreground-danger: oklch(56% 66% 0);

    --interactive-primary: oklch(25% 1% var(--base-hue));
    --interactive-secondary: oklch(29% 1% var(--base-hue));
    --interactive-tertiary: oklch(34% 1% var(--base-hue));
    --interactive-quarternary: oklch(41% 1% var(--base-hue));

    --data-primary: oklch(69% 42% var(--data-hue));
    --data-faded: oklch(69% 42% var(--data-hue) / 50%);
    --adi-primary: oklch(69% 42% var(--adi-hue));
    --adi-faded: oklch(69% 42% var(--adi-hue) / 50%);
}

html,
body {
    --scrollbar-color: var(--background-primary);
    background-color: var(--background-primary);
    font-family: var(--font-family-text);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    inline-size: 100%;
    block-size: 100%;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    inline-size: 8px;
    block-size: 8px;
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid var(--scrollbar-color);
    background-color: var(--interactive-secondary);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--interactive-tertiary);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--foreground-tertiary);
}

::-webkit-scrollbar-corner {
    appearance: none;
}

#app {
    display: flex;
    height: 100%;
}
