cargo-features = ["per-package-target"]

[package]
name = "kernel"
version = "0.1.0"
edition = "2021"
forced-target = "armv7a-none-eabi"

# [lints]
# workspace = true

[dependencies]
heapless = "0.8.0"
lock_api = "0.4.12"
snafu = { version = "0.8.4", default-features = false, features = [
    "unstable-core-error",
    "rust_1_61",
] }
ringbuffer = "0.16.0"
vex-sdk = "0.19.0"
critical-section = { version = "1.1.2", features = ["restore-state-bool"] }
log = "0.4.22"
embedded-io = "0.6.1"
embedded-io-cursor = { version = "0.1.0", default-features = false, features = ["alloc"] }
bincode = { version = "2.0.1", default-features = false, features = [
    "derive",
] }
vex-v5-qemu-protocol = { path = "../protocol" }
printf-compat = { version = "0.2.1", default-features = false }
talc = "4.4.1"
cortex-ar = "0.2.0"
semihosting = { version = "0.1.13", features = ["stdio"] }
